<%= render layout: "devise/shared/auth_card",
    locals: {
      title: "Change your password",
      subtitle: "Choose a new password for your account",
      footer: render("devise/shared/links")
    } do %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "space-y-6" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div>
      <%= f.label :password, "New password", class: "form-label" %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-input" %>
      <% if @minimum_password_length %>
        <p class="form-hint"><%= @minimum_password_length %> characters minimum</p>
      <% end %>
    </div>

    <div>
      <%= f.label :password_confirmation, "Confirm new password", class: "form-label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input" %>
    </div>

    <%= f.submit "Change my password", class: "w-full btn btn-primary-light" %>
  <% end %>
<% end %>
