<div id="capybara-layer"
     class="capybara-layer"
     data-controller="shared--capybara"
     data-shared--capybara-run-value="<%= asset_path("capybaras/capybara_run.png") %>"
     data-shared--capybara-sit-value="<%= asset_path("capybaras/capybara_sit.png") %>"
     data-shared--capybara-sleep-value="<%= asset_path("capybaras/capybara_sleep.png") %>"
     data-shared--capybara-melon-value="<%= asset_path("capybaras/capybara_melon.png") %>"
     data-shared--capybara-bath-value="<%= asset_path("capybaras/capybara_bath.png") %>"
     data-shared--capybara-box-value="<%= asset_path("capybaras/capybara_box.png") %>">
</div>
