<% content_for :title, "Edit Account" %>

<%= page_header(
    title: "Edit Account",
    subtitle: "Update your name, email, or password",
    breadcrumbs: [
      { label: "Account", url: account_path },
      { label: "Edit" }
    ]
) %>

<div class="max-w-2xl mx-auto">
  <div class="bg-white shadow-sm rounded border border-gray-100 p-6">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "space-y-6" }) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div>
        <%= f.input :name,
            input_html: {
              autocomplete: "name"
            } %>
      </div>

      <div>
        <%= f.input :email,
            input_html: {
              autocomplete: "email"
            } %>
      </div>

      <div>
        <%= f.input :email_confirmation,
            label: "Confirm email",
            required: false,
            hint: "Required only when changing your email",
            input_html: {
              autocomplete: "off"
            } %>
      </div>

      <div>
        <%= f.input :timezone,
            as: :select,
            collection: ActiveSupport::TimeZone.all.map { |z| [z.to_s, z.tzinfo.identifier] },
            include_blank: "Select your timezone",
            label: "Timezone",
            hint: "Used to decide when your budgeting day rolls over" %>
      </div>

      <div>
        <%= f.input :password,
            label: "New password",
            required: false,
            hint: "Leave blank to keep your current password",
            input_html: {
              autocomplete: "new-password"
            } %>
      </div>

      <div>
        <%= f.input :password_confirmation,
            label: "Confirm new password",
            required: false,
            input_html: {
              autocomplete: "new-password"
            } %>
      </div>

      <div>
        <%= f.input :current_password,
            label: "Current password",
            required: false,
            hint: "Required to change email or password",
            input_html: {
              autocomplete: "current-password"
            } %>
      </div>

      <div class="flex flex-col sm:flex-row sm:justify-end gap-3 pt-6 border-t border-gray-200">
        <%= link_to "Cancel",
            account_path,
            class: "btn btn-secondary" %>

        <%= f.submit "Save Changes",
            class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
